.header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 10px;
}

.logo > img {
    width: 100px;
}

.nav-items {
    padding: 0px 20px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 5px;
    font-size: 24px;
}

.search {
    padding : 10px;
}

.res-card {
    background-color: #f0f0f0;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    padding: 5px;
}

.res-card > h3 , h4 {
    margin-block-start: 0.3rem;
    margin-block-end: 0.3rem;
}

.res-card h4 {
    font-size: small;
}

.star-rating {
    color: gold;
    display: flex;
}

.res-logo {
    width: 100%;
}

